@model ClassListModel
@{
    ViewData["Title"] = "Class Register";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<section>
    <div class="row">
        <div class="col-md-12">
            <div class="banner-1 pt-0 card cover-image spacing  pb-10 bg-background2" data-image-src="../assets/images/banners/banner1.jpg" style="border:0px">
                <div class="header-text mb-0">
                    <div class="container">
                        <div class="text-center text-white ">
                            <div class="text-center text-white text-property">
                                <h1 class=""><span class="font-weight-bold">2000+</span> Best  Courses Available Here!</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sptb">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <form id="classlist" name="job_apply_form" action="AllClassesList" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label style="font-size: 15px;">State</label>
                                <select class="form-control" id="State" name="State">
                                    <option value="">Select State</option>
                                    <option value="15">Andhra</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label style="font-size: 15px;">City</label>
                                <select id="City" name="CityId" class="form-control">Select City</select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label style="font-size: 15px;">Board</label>

                                <select class="form-control" id="Board" name="Board">
                                    <option value="">Select Board</option>
                                    <option value="2">CBSE </option>
                                    <option value="3">ICSE </option>
                                    <option value="1">MSBTE</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label style="font-size: 15px;">Standards</label>

                                <select class="form-control" id="Standards" name="Standards">
                                    <option value="">Select Standards</option>
                                    <option value="10">10th</option>
                                    <option value="11">11th</option>
                                    <option value="12">12th</option>
                                    <option value="5">5th</option>
                                    <option value="6">6th</option>
                                    <option value="7">7th</option>
                                    <option value="8">8th</option>
                                    <option value="9">9th</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label style="font-size: 15px;">Stream</label>
                                <select name="form_sex" class="form-control required" id="Stream">
                                    <option value="arts">Arts</option>
                                    <option value="Science">Science</option>
                                    <option value="Commerce">Commerce</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label style="font-size: 15px;">Search by class name</label>
                                <select class="form-control" id="Class_id" name="Classes">
                                    <option value="">All Classes</option>
                                    <option value="153">Aaradhya Classes</option>
                                    <option value="62">Vijay Classes</option>
                                    <option value="63">Vijay Classes</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label style="font-size: 15px;">Subject Speciality</label>
                                <select name="form_sex" class="form-control required" id="Speciality">
                                    <option value="Agriculture">Agriculture</option>
                                    <option value="Science &amp; Research">Science &amp; Research</option>
                                    <option value="Defense &amp; Military">Defense &amp; Military</option>
                                    <option value="Designing &amp; Art">Designing &amp; Art</option>
                                    <option value="Education / Skill Development">Education / Skill Development</option>
                                    <option value="Engineering &amp; Technology">Engineering &amp; Technology</option>
                                    <option value="Banking / Insurance &amp; Finance">Banking / Insurance &amp; Finance</option>
                                    <option value="Healthcare">Healthcare</option>
                                    <option value="Humanistic Studies">Humanistic Studies</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <a href="#" class="form-control btn btn-primary btn-circled" id="serch_btn">Search</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <!--Left Side Content-->
            <div class="col-xl-3 col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control br-tl-3 br-bl-3" placeholder="Search">
                            <div class="input-group-append ">
                                <button type="button" class="btn btn-primary br-tr-3 br-br-3">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-lg-0">
                    <div class="card-header">
                        <h3 class="card-title">Categories</h3>
                    </div>
                    <div class="card-body">
                        <div class="" id="container">
                            <div class="filter-product-checkboxs">
                                <label class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" name="checkbox1" value="option1">
                                    <span class="custom-control-label">
                                        <a href="#" class="text-dark">Business<span class="label label-secondary float-right">14</span></a>
                                    </span>
                                </label>
                                <label class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" name="checkbox2" value="option2">
                                    <span class="custom-control-label">
                                        <a href="#" class="text-dark">Data Science<span class="label label-secondary float-right">22</span></a>
                                    </span>
                                </label>
                                <label class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" name="checkbox3" value="option3">
                                    <span class="custom-control-label">
                                        <a href="#" class="text-dark">IT<span class="label label-secondary float-right">78</span></a>
                                    </span>
                                </label>
                                <label class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" name="checkbox4" value="option3">
                                    <span class="custom-control-label">
                                        <a href="#" class="text-dark">Marketing<span class="label label-secondary float-right">35</span></a>
                                    </span>
                                </label>
                                <label class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" name="checkbox5" value="option3">
                                    <span class="custom-control-label">
                                        <a href="#" class="text-dark">Beautician<span class="label label-secondary float-right">23</span></a>
                                    </span>
                                </label>
                                <label class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" name="checkbox6" value="option3">
                                    <span class="custom-control-label">
                                        <a href="#" class="text-dark">Photography<span class="label label-secondary float-right">14</span></a>
                                    </span>
                                </label>
                                <label class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
                                    <span class="custom-control-label">
                                        <a href="#" class="text-dark">Litarature <span class="label label-secondary float-right">45</span></a>
                                    </span>
                                </label>
                                <label class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
                                    <span class="custom-control-label">
                                        <a href="#" class="text-dark">Law<span class="label label-secondary float-right">34</span></a>
                                    </span>
                                </label>
                                <label class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
                                    <span class="custom-control-label">
                                        <a href="#" class="text-dark">Nursing<span class="label label-secondary float-right">12</span></a>
                                    </span>
                                </label>
                                <label class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
                                    <span class="custom-control-label">
                                        <a href="#" class="text-dark">Digital Marketing<span class="label label-secondary float-right">18</span></a>
                                    </span>
                                </label>
                                <label class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
                                    <span class="custom-control-label">
                                        <a href="#" class="text-dark">Web Designing<span class="label label-secondary float-right">02</span></a>
                                    </span>
                                </label>
                                <label class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
                                    <span class="custom-control-label">
                                        <a href="#" class="text-dark">Languages<span class="label label-secondary float-right">15</span></a>
                                    </span>
                                </label>
                                <label class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
                                    <span class="custom-control-label">
                                        <a href="#" class="text-dark">App Development<span class="label label-secondary float-right">32</span></a>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary btn-block">Apply Filter</a>
                    </div>
                </div>
            </div>
            <!--/Left Side Content-->
            <!--Coursed Lists-->
            <div class="col-xl-9 col-lg-8 col-md-12">
                <!--Coursed lists-->
                <div class=" mb-lg-0">
                    <div class="">
                        <div class="item2-gl ">
                            <div class=" mb-0">
                                <div class="">
                                    <div class="p-5 bg-white item2-gl-nav d-flex">
                                        @*<h6 class="mb-0 mt-2">Showing 1 to 10 of 30 entries</h6>*@
                                        <ul class="nav item2-gl-menu ml-auto">
                                            <li class=""><a href="#tab-11" class="active show" data-toggle="tab" title="List style"><i class="fa fa-list"></i></a></li>
                                            <li><a href="#tab-12" data-toggle="tab" class="" title="Grid"><i class="fa fa-th"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-11">
                                    @foreach (var item in Model.ClassModel)
                                    {
                                        <div class="card overflow-hidden">
                                            <div class="d-md-flex">
                                                <div class="item-card9-img">
                                                    <div class="item-card9-imgs">
                                                        <a href="page-details.html"></a>
                                                        <img src="@item.Image" alt="img" class="cover-image">
                                                    </div>
                                                    <div class="item-card9-icons">
                                                        <a href="#" class="item-card9-icons1 bg-primary"> <i class="fa fa fa-heart"></i></a>
                                                        <a href="#" class="item-card9-icons1 bg-black-trasparant"> <i class="fa fa fa-share-alt"></i></a>
                                                    </div>
                                                    <div class="item-overly-trans">
                                                        <a href="page-details.html" class="bg-primary">Online</a>
                                                    </div>
                                                </div>
                                                <div class="card border-0 mb-0">
                                                    <div class="card-body ">
                                                        <div class="item-card9">
                                                            <a href="page-details.html" class="text-dark"><h3 class="font-weight-semibold mt-1">@item.Name</h3></a>
                                                            <div class="mt-2 mb-2">
                                                                <a href="#" class="mr-4"><span class="text-muted fs-13"><i class="fa fa-briefcase mr-1"></i> Business</span></a>
                                                                <a href="#" class="mr-4"><span class="text-muted fs-13"><i class="fa fa-user text-muted mr-1"></i> Stephanie</span></a>
                                                                <a href="#" class="mr-4"><span class="text-muted fs-13"><i class="fa fa-clock-o text-muted mr-1"></i> @item.EstablishmentDate</span></a>
                                                            </div>
                                                            <p class="mb-0 leading-tight">@item.Description </p>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer pt-4 pb-4">
                                                        <div class="item-card9-footer d-flex">
                                                            <div class="item-card9-cost">
                                                                <h4 class="text-dark font-weight-semibold mb-0 mt-0">$263.99</h4>
                                                            </div>
                                                            <div class="ml-auto">
                                                                <div class="rating-stars block">
                                                                    <input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="@item.Rating">
                                                                    <div class="rating-stars-container">
                                                                        <div class="rating-star sm">
                                                                            <i class="fa fa-star"></i>
                                                                        </div>
                                                                        <div class="rating-star sm">
                                                                            <i class="fa fa-star"></i>
                                                                        </div>
                                                                        <div class="rating-star sm">
                                                                            <i class="fa fa-star"></i>
                                                                        </div>
                                                                        <div class="rating-star sm">
                                                                            <i class="fa fa-star"></i>
                                                                        </div>
                                                                        <div class="rating-star sm">
                                                                            <i class="fa fa-star"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                                <div class="tab-pane" id="tab-12">
                                    <div class="row">
                                        @foreach (var item in Model.ClassModel)
                                        {
                                            <div class="col-lg-6 col-md-12 col-xl-4">
                                                <div class="card overflow-hidden">
                                                    <div class="item-card9-img">
                                                        <div class="item-card9-imgs">
                                                            <a href="page-details.html"></a>
                                                            <img src="@item.Image" alt="img" class="cover-image">
                                                        </div>
                                                        <div class="item-card9-icons">
                                                            <a href="#" class="item-card9-icons1 bg-primary"> <i class="fa fa fa-heart-o"></i></a>
                                                            <a href="#" class="item-card9-icons1 bg-black-trasparant"> <i class="fa fa fa-share-alt"></i></a>
                                                        </div>
                                                        <div class="item-overly-trans">
                                                            <a href="page-details.html" class="bg-primary">Online</a>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="item-card9">
                                                            <span class="item-card-badge"><i class="fa fa-briefcase mr-1"></i> Business</span>
                                                            <a href="page-details.html" class="text-dark mt-2"><h3 class="font-weight-semibold mt-2 mb-2">@item.Name</h3></a>
                                                            <div class="item-card9-desc mb-2">
                                                                <a href="#" class="mr-4"><span class="text-muted"><i class="fa fa-user text-muted mr-1"></i> Stephanie</span></a>
                                                                <a href="#" class="mr-4"><span class="text-muted"><i class="fa fa-clock-o text-muted mr-1"></i> @item.EstablishmentDate</span></a>
                                                            </div>
                                                            <p class="mb-0">@item.Description </p>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="item-card9-footer d-flex">
                                                            <div class="item-card9-cost">
                                                                <h4 class="text-dark font-weight-semibold mb-0 mt-0">$263.99</h4>
                                                            </div>
                                                            <div class="ml-auto">
                                                                <div class="rating-stars block">
                                                                    <input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="@item.Rating">
                                                                    <div class="rating-stars-container">
                                                                        <div class="rating-star sm">
                                                                            <i class="fa fa-star"></i>
                                                                        </div>
                                                                        <div class="rating-star sm">
                                                                            <i class="fa fa-star"></i>
                                                                        </div>
                                                                        <div class="rating-star sm">
                                                                            <i class="fa fa-star"></i>
                                                                        </div>
                                                                        <div class="rating-star sm">
                                                                            <i class="fa fa-star"></i>
                                                                        </div>
                                                                        <div class="rating-star sm">
                                                                            <i class="fa fa-star"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (Model.Pager.Pages.Any())
                        {
                            <nav class="table-responsive">
                                <ul class="pagination justify-content-center d-flex flex-wrap">
                                    @if (Model.Pager.CurrentPage > 1)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="/Class/AllClassesList">First</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="/Class/AllClassesList?p=@(Model.Pager.CurrentPage - 1)">Previous</a>
                                        </li>
                                    }

                                    @foreach (var p in Model.Pager.Pages)
                                    {
                                        <li class="page-item @(p == Model.Pager.CurrentPage ? "active" : "")">
                                            <a class="page-link" href="/Class/AllClassesList?p=@p">@p</a>
                                        </li>
                                    }

                                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="/Class/AllClassesList?p=@(Model.Pager.CurrentPage + 1)">Next</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="/Class/AllClassesList?p=@(Model.Pager.TotalPages)">Last</a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        }
                        @*<div class="center-block text-center">
                                <ul class="pagination mb-0">
                                    <li class="page-item page-prev disabled">
                                        <a class="page-link" href="#" tabindex="-1">Prev</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item page-next">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </div>*@
                    </div>
                </div>
                <!--/Coursed lists-->
            </div>
            <!--/Coursed Lists-->
        </div>
    </div>
</section>
<!--/Coursed Listing-->
