@model List<CoursesModel>
<section class="sptb">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2>Courses</h2>
            <span class="sectiontitle-design"><span class="icons"></span></span>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div class="panel panel-primary">
            <div class="">
                <div class="tabs-menu ">
                    <!-- Tabs -->
                    <ul class="nav panel-tabs eductaional-tabs mb-6">
                        <li class=""><a href="#tab1" class="active show" data-toggle="tab1">All</a></li>
                        <li><a href="#tab2" data-toggle="tab2" class="">Short Term Courses</a></li>
                        <li><a href="#tab3" data-toggle="tab3" class="">Long Term Courses</a></li>
                        <li><a href="#tab4" data-toggle="tab4" class="">Online Courses</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab1">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-xl-4 col-md-6">
                                    <div class="card overflow-hidden">
                                        <div class="ribbon ribbon-top-left text-danger"><span class="bg-danger">Free</span></div>
                                        <div class="item-card7-img">
                                            <div class="item-card7-imgs">
                                                <a href="education.html"></a>
                                                <img src="@item.CourseImageUrl" alt="img" class="cover-image">
                                            </div>
                                            <div class="item-card7-overlaytext">
                                                <a href="@item.CategoryUrl" class="text-white"> @item.Category</a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="item-card7-desc">
                                                <div class="item-card7-text">
                                                    <a href="education.html" class="text-dark"><h3 class="font-weight-semibold">@item.CourseName</h3></a>
                                                </div>
                                                <p class="mb-0">@item.Description</p>
                                            </div>
                                        </div>

                                        <div class="card-body">
                                            <a href="education.html" class="btn btn-primary btn-block">Join Free</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
