@model List<Testimonial>
<section class="sptb position-relative pattern">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2 class="text-white position-relative">Testimonials</h2>
            <span class="sectiontitle-design"><span class="icons"></span></span>
            <p class="text-white position-relative">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel" class="owl-carousel testimonial-owl-carousel">
                    @foreach (var item in Model)
                    {
                        <div class="item text-center">
                            <div class="row">
                                <div class="col-xl-8 col-md-12 d-block mx-auto">
                                    <div class="testimonia">
                                        <div class="owl-controls clickable">
                                            <div class="owl-pagination">
                                                <div class="owl-page active">
                                                    <span class=""></span>
                                                    <img src="@item.PhotoUrl" alt="img" class="cover-image">
                                                </div>
                                            </div>
                                        </div>
                                        <h3 class="title">@item.ClientName</h3>
                                        <span class="post">@item.Position</span>
                                        <div class="rating-stars mb-3">
                                            <input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="@item.Rating">
                                            <div class="rating-stars-container">
                                                <div class="rating-star sm @(item.Rating >= 1 ? "is--active" : "")">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-star sm @(item.Rating >= 2 ? "is--active" : "")">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-star sm @(item.Rating >= 3 ? "is--active" : "")">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-star sm @(item.Rating >= 4 ? "is--active" : "")">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-star sm @(item.Rating >= 5 ? "is--active" : "")">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="text-white-80">
                                            <i class="fa fa-quote-left text-white-80"></i>@item.Descrption
                                        </p>
                                        <a href="/Common/Testimonial" class="btn btn-primary btn-lg">View all Testimonial</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>